﻿@page "/counter"
@rendermode InteractiveServer

@code {
    /* "@rendermode" habilita la representación interactiva del servidor para el componente, de modo que pueda
       controlar eventos de interfaz de usuario desde el explorador.

        mas detalles en:
        https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0
        https://dotnet.microsoft.com/es-es/learn/aspnet/blazor-tutorial/try

    */
}
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
